.counter-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15rem;
}

.count {
    font-size: 4rem;

}

.button {
    width: 5rem;
    height: 2rem;
    background-color: var(--accent1);
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    border: 2px solid black;
    margin: 1rem;
}

.button:hover {
    background-color: var(--accent2);
    font-size: 90%;
}

.button:active{
    border: 3px solid black;
    box-shadow: 1px 1px 5px;
}

.error {
visibility: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
 
.counter-input {
    scale: 110%;
    margin: 1rem;
}